[submodule "dockerfiles"]
	path = dockerfiles
	url = https://github.com/jessfraz/dockerfiles
[submodule "dockerfiles-jessfraz"]
	path = dockerfiles-jessfraz
	url = https://github.com/jessfraz/dockerfiles
