[submodule "dockerfiles-jessfraz"]
	path = dockerfiles-jessfraz
	url = https://github.com/jessfraz/dockerfiles
[submodule "dockerfiles-remnux"]
	path = dockerfiles-remnux
	url = https://github.com/REMnux/docker.git
[submodule "hopper-docker"]
	path = hopper-docker
	url = https://github.com/BananaFett/hopper-docker.git
[submodule "bibtex2pdf-docker"]
	path = bibtex2pdf-docker
	url = https://github.com/BananaFett/bibtex2pdf-docker.git
[submodule "cutter-docker"]
	path = cutter-docker
	url = https://github.com/BananaFett/cutter-docker.git
[submodule "borg-docker"]
	path = borg-docker
	url = https://github.com/BananaFett/borg-docker.git
[submodule "nginx-reverse-proxy"]
	path = nginx-reverse-proxy
	url = https://github.com/BananaFett/nginx-reverse-proxy.git
[submodule "radare2-docker"]
	path = radare2-docker
	url = https://github.com/BananaFett/radare2-docker
[submodule "scrcpy-docker"]
	path = scrcpy-docker
	url = https://github.com/pierlon/scrcpy-docker
[submodule "monit-docker"]
	path = monit-docker
	url = https://github.com/ps1337/monit-docker
[submodule "pairprog-docker"]
	path = pairprog-docker
	url = https://github.com/ps1337/pairprog-docker.git
[submodule "elodie-docker"]
	path = elodie-docker
	url = https://github.com/ps1337/elodie-docker.git
[submodule "kali-docker"]
	path = kali-docker
	url = https://github.com/ps1337/kali-docker.git
[submodule "moneymanagerex-docker"]
	path = moneymanagerex-docker
	url = https://github.com/ps1337/moneymanagerex-docker
